.imageBg-container {
  /* display: flex; */
  position: relative;
}

.imageBg-image {
  /* position: relative; */
  /* margin-right: -400px; */
  width: 100%;
}

.home-background {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  /* margin-top: 150px; */
  height: 300px;
  width: 500px;
  background-color: hsl(231, 69%, 60%);
  border-radius: 500px 0 0 500px;
}

@media screen and (max-width: 1000px) {
  .imageBg-image {
    max-width: 500px;
  }
}

@media screen and (max-width: 500px) {
  .home-background {
    height: 250px;
    width: 300px;
  }
}
