.main-contact-container {
  text-align: center;
  background-color: hsl(231, 69%, 60%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-text-div {
  max-width: 300px;
  margin: auto;
}

.main-contact-container p {
  color: white;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-contact-container h2 {
  color: white;
  margin-bottom: 20px;
}
.input-contact {
  background-color: rgb(241, 241, 241);
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}
.input-contact:focus {
  outline: none;
}
.input-contact:hover {
  background-color: white;
}

.button-contact {
  background-color: hsl(0, 94%, 66%);
  color: white;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 3px;
}
.button-contact:hover {
  background-color: rgb(246, 74, 74);
}
