.features-container {
  margin-left: 150px;
  margin-right: 150px;
}
.second-features-container {
  margin: auto;
}
.features-text-container {
  text-align: center;
  max-width: 400px;
  padding-top: 50px;
  margin: auto;
  font-weight: 400;
}

.features-text-container p {
  font-size: 16px;
  color: hsl(229, 8%, 60%);
  margin-top: 20px;
}

.features-button {
  border: none;
  background-color: transparent;
  margin: auto;
}
.buttons-div {
  padding: 30px;
  margin: auto;
  display: flex;
  max-width: 50%;
}
.buttons-div button {
  color: hsl(229, 8%, 60%);
}
.buttons-div button:hover {
  text-decoration: underline;
  transition: 0.3s;
  color: rgb(93, 93, 93);
}

.buttons-line {
  margin: auto;
  width: 500px;
  height: 1px;
  background-color: hsl(229, 8%, 60%);
  margin-bottom: 40px;
}

.features-background {
  height: 300px;
  width: 500px;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  z-index: -1;
  border-radius: 0 500px 500px 0;
  top: 110%;
}
