.extension-card-container {
  text-align: center;
}
.extension-card-title {
  font-size: 20px;
  margin-top: 10px;
}
.extension-card-version {
  color: hsl(229, 8%, 60%);
  margin-top: 10px;
}
.extension-card-dots-image {
  max-width: 90%;
}
