.main-questions-div-container {
  padding-bottom: 100px;
  margin-top: 150px;
}
.title-questions-div {
  max-width: 450px;
  margin: auto;

  margin-bottom: 30px;
  text-align: center;
}

.title-questions-div h1 {
  margin-bottom: 30px;
}
.title-questions-div p {
  font-size: 16px;
  color: hsl(229, 8%, 60%);
  margin-top: 20px;
}
.main-questions-ul {
  display: flex;
  flex-direction: column;
}
.question-name-button {
  border: none;
  background-color: transparent;
}
.main-question-name-button {
  border: none;
  background-color: transparent;
  margin-top: 15px;
}
.question-title-button {
  border: none;
  background-color: transparent;
  margin-bottom: 20px;
  max-width: 500px;
  margin: auto;
}
.questions-underline {
  border-bottom: 1px solid hsl(229, 8%, 60%);
  margin-top: 20px;
}
.question-arrow-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-last-button {
  margin: auto;
  margin-top: 40px;
  background-color: hsl(231, 69%, 60%);
  border: none;
  border-radius: 3px;
  padding: 7px 20px 7px 20px;
  color: white;
}

.question-last-button:hover {
  background-color: hsl(231, 59%, 50%);
}

@media screen and (max-width: 550px) {
  .main-questions-div-container {
    margin: 25px;
  }
}
