.main-footer-div {
  background-color: hsl(229, 31%, 21%);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 150px;
  display: flex;
  /* justify-content: space-between; */
}
.logo-links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links-container {
  display: flex;
  width: 100%;
  gap: 50px;
  font-size: 16px;
  color: hsl(229, 8%, 60%);
  font-weight: 400;
  align-items: center;
}

.footer-links-container a:hover {
  text-decoration: underline;
}

.footer-links-container a {
  text-decoration: none;
  color: white;
}
.footer-logo-bookmark {
  margin-right: 50px;
}
.social-icons-container {
  display: flex;
  padding-right: 150px;
  padding-left: 20px;
  gap: 50px;
}

@media screen and (max-width: 1200px) {
  .main-footer-div {
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
  }
  .social-icons-container {
    padding-right: 150px;
  }
}

@media screen and (max-width: 800px) {
  .main-footer-div {
    display: block;
    margin: 0;
    padding: 0;
  }
  .logo-links-container {
    display: block;
    text-align: center;
  }
  .social-icons-container {
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .footer-logo-bookmark {
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .footer-links-container {
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  .footer-links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
