.features-content-div {
  display: flex;
  justify-content: space-between;
}
.features-content-title {
  font-size: 30px;
  margin-bottom: 20px;
}
.features-content-description {
  color: hsl(229, 8%, 60%);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.features-content-container {
  max-width: 400px;
  margin-top: 50px;
}
.features-content-button {
  border: none;
  background-color: hsl(231, 69%, 60%);
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  color: white;
}

.features-content-button:hover {
  background-color: hsl(231, 59%, 50%);
}

.features-image img {
  max-width: 500px;
}
