.featuresContentDiv {
  display: flex;
  justify-content: space-between;
}
.featuresContentTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.featuresContentDescription {
  color: hsl(229, 8%, 60%);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.featuresContentContainer {
  max-width: 400px;
  margin-top: 50px;
}
.featuresContentButton {
  border: none;
  background-color: hsl(231, 69%, 60%);
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  color: white;
}

.featuresContentButton:hover {
  background-color: white;
  color: hsl(229, 31%, 21%);
  border: 2px solid hsl(231, 69%, 60%);
}

.featuresImage img {
  max-width: 500px;
}
